<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Component Scanning -->
	<context:component-scan base-package="myspring.**.dao,myspring.**.service" />
	
	<!-- values.properties 파일 정보 설정 -->
	<context:property-placeholder location="classpath:values.properties" />
	
	<!-- HikariDataSource 클래스를 Spring Bean으로 설정하기 -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
	  p:driverClassName="${db.driverClass}"
	  p:jdbcUrl="${db.url}"
	  p:username="${db.username}"
	  p:password="${db.password}"
	/>
	
	<!-- SqlSessionFactoryBean 클래스를 Spring Bean으로 설정하기 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- setDataSource(DataSource dataSource) -->
		<property name="dataSource" ref="dataSource" />
		<!-- setConfigLocation(org.springframework.core.io.Resource configLocation) -->
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />
		<!-- void setMapperLocations(org.springframework.core.io.Resource... mapperLocations) -->
		<property name="mapperLocations">
			<list>
				<value>classpath:mybatis/*Mapper.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- SqlSession 클래스를 Spring Bean으로 설정하기 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>
	<!-- Mapper 인터페이스 스캐닝을 위한 설정하기 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
       <property name="basePackage" value="myspring.**.dao.mapper" />
       <!-- optional unless there are multiple session factories defined -->
       <property name="sqlSessionTemplateBeanName" value="sqlSession" />
   </bean>
</beans>
